<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
  
  <div class="row" id="innerContainer" style="height:500px;">
    <div class="col-md-8" style="background:rgb(179, 179, 179); height:inherit;">
        <app-pokertable *ngFor="let table of pokerTables" [tableName]="table.name" [tableId]="table.id" [playerListTableInput]="playerList"></app-pokertable>
    </div>

    <div class="col-md-4" style="background:rgb(219, 219, 219); height:inherit;">
        <app-player-list [playerListInput]="playerList" (playerDeleteEvent)="deletePlayer($event)"></app-player-list>
    </div>
  </div>

  <div class="row" id="footerContainer" style="margin-top:50px;">
    <div class="col-md-8" >
      <app-player-input (addPlayerEvent)="addPlayer($event)"></app-player-input>
    </div>
    <div class="col-md-4"><img src="/assets/images/social_club.png" style="position:relative;bottom:50px;width:426px;height:171px;float:right;" /></div>
  </div>
</div>
