button{
    background:green;
    border:1px solid white;
    height:35px;
    margin-left:50px;
    color:white;
}

.selectedTable{

    margin: 50px;
    background: black;
    color:white;
}